@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

#title {
    text-align: center;
}

#form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Aplicar um reset para o estilo de seleção para padronização entre navegadores */
select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    /* Desabilita a aparência padrão no WebKit browsers */
    -moz-appearance: none;
    /* Desabilita a aparência padrão no Firefox */
    appearance: none;
    /* Desabilita a aparência padrão */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23007BFF" d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
    cursor: pointer;
}

/* Estilo quando o usuário foca no elemento usando teclado ou mouse */
select:focus {
    outline: none;
    /* Remove o contorno padrão do foco */
    border-color: #007BFF;
    /* Cor azulada para o foco, como no botão */
}

/* Ajustes adicionais para o foco no Firefox */
@-moz-document url-prefix() {
    select:focus {
        border: 2px solid #007BFF;
    }
}

/* Estilo do botão */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos gerais para labels e inputs para alinhamento */
label {
    display: block;
    margin-top: 20px;
    font-weight: 600;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="file"]:focus {
    width: calc(100% - 22px);
    /* Largura total menos o padding */
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    /* Remove o contorno padrão de foco */
}

/* Estilo para o foco em inputs */
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    /* Cor azulada para o foco, como no botão */
}