@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
    color: #2c3e50;
}

form {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

label {
    font-weight: 600;
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box; /* garante que o padding e border sejam incluídos na largura total */
    -webkit-appearance: none; /* Remove a aparência padrão do Chrome/Safari */
    -moz-appearance: none;    /* Remove a aparência padrão do Firefox */
    appearance: none;         /* Remove a aparência padrão */
}

/* Para adicionar uma seta personalizada no select */
select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M5 8l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

/* Estilizar elementos específicos para Firefox */
@-moz-document url-prefix() {
    select {
        padding-right: 30px; /* espaço adicional para a seta */
    }
}

/* Estilizar o foco dos inputs e selects */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus,
select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 3px #3498db;
}
